<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Causal inference in graph-based recommendation system </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="theme">
      <h1><a href="/">Causal inference in graph-based recommendation system</a></h1>
      <hr><br>
      <p><a href="https://github.com/sword-Lz/cs547" target="_blank">View code on GitHub</a></p>
    </div>
    <div class="container">
      <h2>Working Model of Yelp Recommendation</h2>
      <form action="/search" method="POST">
        <div class="search-container">
          <br>
          <label for="userid">Enter UserID:</label>
          <input type="text" name="search" placeholder="Search...">
          <button type="submit">Search</button>
        </div>
      </form>
      <div class="output-container">
        {% if results %}
          <pre>{{ results }}</pre>
        {% else %}
          <!-- <p>Enter some Input</p> -->
        {% endif %}
      </div>
      <div class="image-container">
        <img src="{{ url_for('static', filename='image1.jpg') }}" alt="Image 1">
      </div>
      <div class="image-container">
        <img src="{{ url_for('static', filename='img2.jpg') }}" alt="Image 2">
      </div>
      <div class="image-container">
        <img src="{{ url_for('static', filename='img3.jpg') }}" alt="Image 2">
      </div>
      <div class="image-container">
        <img src="{{ url_for('static', filename='img4.jpg') }}" alt="Image 2">
      </div>
    </div>
  </body>
</html>